* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Microsoft YaHei;
}


.wrapper {
    display: grid;
    grid-template-rows: repeat(8, auto);
    grid-template-columns: auto;
    width: 100%;
    position: relative;
}

.wrapper>.line {
    grid-row: 2;
    grid-column: 1;
    height: 10px;
    background-color: #D8CC19;
}

.wrapper>figcaption {
    position: absolute;
    top: 20px;
    right: 50px;
}

.wrapper>figcaption>img {
    width: 120px;
    height: 150px;
}

header {
    grid-row: 1;
    grid-column: 1;
    height: 160px;
    background-color: #0B70BD;
    display: flex;
    align-items: center;
}

header>section {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    color: #FFFFFF;
}

header>section>.auth-name {
    font-size: 30px;
    margin-bottom: 20px;
}

header>section>.in-a-word {
    font-size: 14px;
}

main {
    margin-top: 20px;
    margin-left:50px;
}

main>.auth-information {
    border: 1px solid yellow;
    grid-row: 2;
    grid-column: 1;
}

main>.auth-information>ul{
    list-style: none;
    display:flex;
    align-items: center;
   
}
main>.auth-information>ul>li{
    display:flex;
    align-items: center;
    padding:0 16px;
    font-size:14px;
    color:#747474;
}


.auth-information>ul>li>img {
    width:24px;
    height:24px;
}
main > .job-intention {
    grid-row: 3;
    grid-column: 1;
    margin-top:30px;
    border-bottom:1px solid #0B70BD;
}
.job-intention >figcaption{
    display:flex;
    align-items: center;
    font-size:20px;
    color:#0B70BD;
    font-weight: bold;
}

.job-intention >figcaption >div {
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: #0B70BD;
    margin-right:10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.job-intention >figcaption >div>img{
    width:24px;
    height:24px;
}
main > .job-intention-detail {
    grid-row: 4;
    grid-column: 1;
    margin-top:20px;
    display:flex;
    align-items: center;
}
.job-intention-detail > figcaption {
    display:flex;
    align-items: center;
    padding:0 16px;
    font-size:16px;
    font-weight: 700;
    color:#747474;
}

.job-intention-detail > figcaption >img {
    width:24px;
    height:24px;
   
}
main > .educate {
    grid-row: 5;
    grid-column: 1;
    margin-top:30px;
    border-bottom:1px solid #0B70BD;
}
.educate >figcaption{
    display:flex;
    align-items: center;
    font-size:20px;
    color:#0B70BD;
    font-weight: bold;
}
.educate > figcaption >div {
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: #0B70BD;
    margin-right:10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.educate >figcaption >div>img{
    width:24px;
    height:24px;
}
main > .educate-detail{
    grid-row: 6;
    grid-column: 1;
    margin-top:30px;
    display:flex;
    align-items: center;
}
.educate-detail > figcaption {
    display:flex;
    align-items: center;
    padding:0 16px;
    font-size:16px;
    font-weight: 700;
    color:#747474;
}

.educate-detail > figcaption >img {
    width:24px;
    height:24px;
}
main > .project {
    grid-row: 6;
    grid-column: 1;
    margin-top:30px;
    border-bottom:1px solid #0B70BD;
}
.project >figcaption{
    display:flex;
    align-items: center;
    font-size:20px;
    color:#0B70BD;
    font-weight: bold;
}
.project > figcaption >div {
    width:40px;
    height:40px;
    border-radius: 50%;
    background-color: #0B70BD;
    margin-right:10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.project >figcaption >div>img{
    width:24px;
    height:24px;
}